<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mot de passe oublié</title>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-[#a0d5d5] h-screen flex items-center justify-center">

<div class="bg-gray-100 p-8 rounded-2xl shadow-md max-w-md w-full">
    <h2 class="text-3xl font-semibold mb-4">Mot de passe oublié</h2>

    <!-- Afficher un message de réussite ou d'erreur après la soumission du formulaire -->
    <p th:if="${successMessage}" class="text-green-600 mb-4">[[${successMessage}]]</p>
    <p th:if="${errorMessage}" class="text-red-600 mb-4">[[${errorMessage}]]</p>

    <!-- Formulaire pour la récupération de mot de passe -->
    <form th:action="@{/forgotPassword}" th:object="${user}" method="post">

        <div class="mb-4">
            <label for="email" class="block text-gray-600 text-sm font-medium mb-2">Email:</label>
            <input type="email" id="email" th:field="*{email}" required
                   class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-500 text-sm"></span>
        </div>

        <button type="submit" class="bg-[#002D74] rounded-xl text-white py-2 px-10 hover:scale-105 duration-300">
            Envoyer le code de récupération
        </button>
    </form>

    <!-- Retourner à la page de connexion -->
    <p class="mt-4 text-gray-600"><a th:href="@{/login2}" class="mt-5 text-xs border-b border-[#002D74] py-4 text-[#002D74]">Retour à la page de connexion</a></p>

</div>

</body>
</html>
