<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nouveau mot de passe</title>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#a0d5d5] h-screen flex items-center justify-center">

<div class="bg-gray-100 p-8 rounded-2xl shadow-md max-w-md w-full">
    <h2 class="text-3xl font-semibold mb-4">Nouveau mot de passe</h2>

    <!-- Afficher un message d'erreur après la soumission du formulaire -->
    <p th:if="${errorMessage}" class="text-red-600 mb-4">[[${errorMessage}]]</p>

    <!-- Formulaire pour la saisie du nouveau mot de passe -->
    <form th:action="@{/newpassword}" method="post">

        <div class="mb-4">
            <label for="newPassword" class="block text-gray-600 text-sm font-medium mb-2">Nouveau mot de passe:</label>
            <input type="password" id="newPassword" name="newPassword" required
                   class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"/>
        </div>

        <button type="submit" class="bg-[#002D74] rounded-xl text-white py-2 px-10 hover:scale-105 duration-300">
            Mettre à jour le mot de passe
        </button>
    </form>

    <!-- Retourner à la page de connexion -->
    <p class="mt-4 text-gray-600"><a th:href="@{/login2}" class="mt-5 text-xs border-b border-[#002D74] py-4 text-[#002D74]">Retour à la page de connexion</a></p>

</div>


</body>
</html>
